body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e1ead4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  margin: 0 20px;
  color: Grey;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.30000001192092896px;
  transition: 0.3s;
}
a:hover {
  color: black;
}

.home img {
  border-radius: 30px;
}
